backports.zstd==1.7.0
boto3==1.43.91
botocore==1.43.92
Brotli==1.2.0
cloudpickle==3.1.2
colorama==0.4.6
copulas==0.14.1
ctgan==0.12.1
deepecho==0.8.1
Faker==40.38.0
filelock==3.32.6
graphviz==0.21
h2==4.4.1
hpack==4.2.0
hyperframe==6.1.0
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.6.0
MarkupSafe==3.0.3
mpmath==1.4.1
narwhals==2.26.0
networkx==3.6.1
numpy==1.26.4
packaging==26.3
pandas==2.3.3
pip==26.2.1
platformdirs==4.11.8
plotly==5.24.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2026.3.post1
PyYAML==6.0.3
rdt==1.22.0
s3transfer==0.19.2
scikit-learn==1.9.1
scipy==1.17.1
sdmetrics==0.31.0
sdv==1.38.3
setuptools==84.0.0
six==1.17.0
sympy==1.14.0
tenacity==9.1.4
threadpoolctl==3.6.0
torch==2.5.1
tqdm==4.70.1
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
wheel==0.48.0
win_inet_pton==1.1.0
